.dialogues{
    padding: 10px;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.messages{
    position:relative;
    padding: 10px 10px 55px 10px;


}

.content{
    display: grid;
    grid-template-columns: 4fr 8fr;
    border: 1px black;
}
.input{
    display: inline-flex;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    justify-content: stretch;

}
.input textarea{
    width: 8fr;
}