.app-wrapper{
  display:grid;
  margin: 0 auto;
  grid-template-areas:
  'h h'
  'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.header{
  border:1px;
  background: aliceblue;
  grid-area:h;

}
.navBar{
  background: deepskyblue;
  grid-area: n;
}
.content{
  grid-area: c;
}